<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings >
      <add name ="DBcon" connectionString ="Data Source=.;Initial Catalog=Inventory;Integrated Security=True" providerName ="system.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <authentication mode ="Forms">
        <forms loginUrl ="Login.aspx" defaultUrl ="Home.aspx"></forms>
      </authentication>
      <authorization>
        <deny users ="?"/>
      </authorization>
      <httpRuntime targetFramework="4.5" />
    </system.web>
  <appSettings>
    
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>

</configuration>


